#Ignore the following below
# don't Commit your secrets 
.streamlit/secrets.toml

# Virtual environment
venv/

# GOOD Files just for backup
GOOD/

# Environents
.env

# Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs
logs/
*.log

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# data
data/

# csv files
*.csv

yfinance_db.sql
