#Ignore the following below
# Virtual environment
venv/

# Environents
.env

# Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs
logs/
*.log

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# data
data/

# csv files
*.csv

yfinance_db.sql
